.container {
    display: grid;
    grid-template-columns:200px 200px 200px;
    height: 400px;
    gap: 20px;
    padding: 50px;
}
.box{
    font-size:larges;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkslategrey;
    color: white;
    border-radius: 13px;
}